#root {
    background: linear-gradient(0deg, #DADBD4 85%, #009688 15%);
    padding: 20px 0;
}

/* Generics  */
i {
    color: #B1B1B1;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/* Utils */
.circle {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.circle.bigger {
    height: 70px;
    width: 70px;
}

.circle img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.fs-small-custom {
    font-size: 13px;
}

.custom-bg-grey {
    background-color: #EAEAEA;
}

.message {
    min-height: 55px;
    width: 40%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0;
}

.sent{
    background-color: #D5F9BA;
    align-items: flex-end;
}

.received{
    background-color: #fff;
}

.text-message {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.date-message {
    font-size: 10px;
    color: grey;
    text-align: right;
}

/* Left Column */

.list-structure header {
    height: 80px;
    background-color: #EAEAEA;
}

.list-structure .under-header{
    position: sticky;
    top: 0;
    left: 0;
}

.under-header .notifications {
    height: 80px;
    background-color: #8EDAFC;
}

.notifications i {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: #8EDAFC;
}

.active-notifies {
    cursor: pointer;
}

.under-header .find-chat {
    height: 50px;
}

.list-structure main {
    height: calc(100vh - 210px);
    overflow-y: auto;
}

.chat-list {
    background-color: #fff;
    cursor: pointer;
}

main div.chat-list:hover {  
    background-color: #EAEAEA;;
}

/* Right Column */
.open-structure header, .open-structure footer {
    height: 80px;
    background-color: #EAEAEA;
    position: sticky;
    top: 0;
    left: 0;
}

.open-structure main {
    height: calc(100vh - 160px);
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
    padding: 40px 50px;
}

.open-structure .footer-center {
    width: 70%;
    height: 100%;
}

.open-structure .footer-left, .open-structure .footer-right {
    width: 15%;
    height: 100%;
}






