#root {
    background: linear-gradient(0deg, #DADBD4 85%, #009688 15%);
    padding: 20px 0;
}

/* Generics  */
i {
    color: #B1B1B1;
}

ul {
    list-style-type: none;
}

/* Utils */
.circle {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* Left Column */
.list-structure {
    border-right: 2px solid blue;
}

.list-structure header {
    height: 80px;
    background-color: #EAEAEA;
}

.list-structure .under-header{
    position: sticky;
    top: 0;
    left: 0;
}

.under-header .notifications {
    height: 80px;
    background-color: #8EDAFC;
}

.notifications i {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: #8EDAFC;
}

.under-header .find-chat {
    height: 50px;
    background-color: #fff;
}

.list-structure main {
    height: calc(100vh - 210px);
    overflow-y: auto;
}

/* Right Column */
.open-structure header, .open-structure footer {
    height: 80px;
    background-color: #EAEAEA;
    position: sticky;
    top: 0;
    left: 0;
}

.open-structure main {
    height: calc(100vh - 160px);
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
}



